[run]
parallel = true
source = .
omit =
    */tests/*
    */__init__.py
    config*.py
    .coverage*
    */__pycache__/*
    */.venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if TYPE_CHECKING:
