venv
env/
yolo/YoloV5_export_playground.ipynb
tmp
export
client/node_modules
client/build
*.pt
docker-compose.yml
Dockerfile
.gitignore
.dockerignore
shared_with_container/
yolov6r1/
yolov6r3/
yolov7/
tests/
