[submodule "yolov5"]
    path = yolo/yolov5
    url = https://github.com/ultralytics/yolov5
[submodule "YOLOv6"]
    path = yolo/YOLOv6
    url = https://github.com/meituan/YOLOv6
    branch = main
[submodule "yolov7"]
    path = yolov7/yolo/yolov7
    url = https://github.com/WongKinYiu/yolov7
    branch = main
[submodule "yolov7/yolo/yolov7"]
	path = yolov7/yolo/yolov7
	url = https://github.com/WongKinYiu/yolov7
