torch>=2.0.0 #,<2.6.0
torchvision>=0.10.1
Pillow>=7.1.2
PyYAML>=5.3.1
gcsfs
luxonis-ml[data,nn_archive,utils]>=0.6.5,<0.7
onnx==1.17.0
numpy>=1.19.5,<2.1.0
onnxruntime>=1.20.1
onnxsim>=0.4.36
s3fs
tqdm
s3transfer
typer>=0.12.3
psutil
seaborn
mmcv>=1.5.0,<2.0.0
