sanic>=21.12.2
# torch==1.10.2
# torchvision==0.11.3
torch>=2.2.0
torchvision>=0.10.1

onnx>=1.16.0
onnx-simplifier>=0.3.6
openvino==2023.0.1
openvino-dev==2023.0.1

blobconverter>=1.4.2
opencv-python>=4.1.2

matplotlib>=3.2.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.41.0

IPython

psutil>=6.0.0

tensorboard>=2.12.0
protobuf>=3.20.2

pandas>=1.1.4
seaborn>=0.11.0

sentry-sdk # logging

thop  # FLOPs computation

# sparseml>=1.8.0

websockets==10.4
# openvino-dev[onnx]==2022.3.0
# openvino-dev[onnx]==2022.1.0
dill
