name: Unit Tests

on:
  pull_request:
    branches:
      - cli
    paths:
      - 'tests/**'
      - 'tools/**'
      - '.github/workflows/tests.yaml'

jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'
        cache: pip

    - name: Install package
      run: python -m pip install -e .[dev]

    - name: Run Unit Tests
      run: python -m pytest tests